.disabled{
    display: none!important;
}

.background {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #191919;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.background-img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    filter: brightness(80%);
    position: absolute;
    top: 0;
    left: 0;

    z-index: 0;
}

.info {
    width: 100%;
    display: flex;
}

.about-photo {
    transition: all 0.5s ease;
    cursor: pointer;
    opacity: 0.7;

    justify-content: start;
    position: relative;
    z-index: 1;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(224, 224, 224, 0.23);
    backdrop-filter: blur(5px);

    margin-bottom: 10px;
    margin-left: 20px;
}
.about-photo--active {
    transition: all 0.5s ease;

    width: fit-content;
    opacity: 1;
    transition: 1;
}
.author,
.original-img {
    color: #fff;
    font-size: 18px;
}
.author-link,
.img-link {
    color: #ffffff;
    font-size: 18px;
    text-decoration: underline;
    /* font-weight: 600; */
}
.author-link:hover,
.img-link:hover {
    color: #dedddd;
}

.time {
    width: 100%;
    text-align: center;
    line-height: 170px;
    z-index: 1;
}
.time__title {
    font-size: 200px;
    color: #fff;
    opacity: 90%;
}
/* ON FOCUS */
.onFocus {
    z-index: 1;


}
.focus-btn{
    color: #fff;

    outline: none;
    border: none;

    transition: all 0.5s ease;
    cursor: pointer;
    opacity: 0.7;

    justify-content: start;
    position: relative;
    z-index: 1;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(224, 224, 224, 0.23);
    backdrop-filter: blur(5px);
}

.focus-btn:hover{
    opacity: 1;
}